set default=0
set timeout=5

insmod part_gpt
insmod part_msdos
insmod fat
insmod iso9660

menuentry "SolukOS Live (x86_64)" {
    linux /boot/vmlinuz-linux boot=live quiet splash
    initrd /boot/initramfs-linux.img
}

menuentry "SolukOS Live (Debug Mode - SYSTEMD_SULOGIN_FORCE)" {
    linux /boot/vmlinuz-linux boot=live debug systemd.setenv=SYSTEMD_SULOGIN_FORCE=1 systemd.debug_shell=1
    initrd /boot/initramfs-linux.img
}

menuentry "SolukOS Kurtarma Modu (Emergency Shell)" {
    linux /boot/vmlinuz-linux boot=live emergency systemd.unit=emergency.target SYSTEMD_SULOGIN_FORCE=1
    initrd /boot/initramfs-linux.img
}
