[Unit]
Description=SolukOS Linux - canli oturum kullanicisini olustur (soluk)
Before=display-manager.service
ConditionPathExists=!/home/soluk

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/useradd -m -G wheel,audio,video,storage,optical,network -s /bin/bash soluk
ExecStart=/usr/bin/sh -c 'echo soluk:soluk | /usr/sbin/chpasswd'

[Install]
WantedBy=multi-user.target
